{% set global = g.doc('/content/global.yaml') %}

{% if doc.collection.title == 'page' %}
	{% set page_class = 'page--' + doc.slug %}
{% else %}
	{% set page_class = 'page--' + doc.collection.title %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ doc.locale | replace('_', '-') }}" dir="ltr" data-env="{{ env.name }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<meta name="theme-color" content="#212121">
		<title> {{ doc.title }} | {{ global.site_title }} </title>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Material+Icons|Roboto:100,400">
		<link rel="stylesheet" href="{{ g.static('/static/css/min.css').url.path }}">
		{% if env.name != 'dev' %}
		<link rel="serviceworker" href="{{ g.static('/static/js/service-worker.js').url.path }}" scope="/">
		{% endif %}
		<link rel="manifest" href="{{ g.static('/static/json/manifest.json').url.path }}">
		<link rel="icon" href="{{ g.static('/static/img/ln-icon-32.png').url.path }}">
		<link rel="canonical" href="https://liamnewmarch.co.uk{{ doc.url.path }}">
	</head>
	<body class="page {{ page_class }}">
	{% block body %}
		<button class="hamburger js-focus-hinting js-modal-trigger" data-modal="main-menu" aria-label="Open main menu" aria-controls="main-menu">
			<div class="hamburger__line"></div>
			<div class="hamburger__line"></div>
			<div class="hamburger__line"></div>
		</button>
		<button class="search__button js-focus-hinting js-modal-trigger" data-modal="search" aria-label="Open search" aria-controls="search">
			<i class="material-icons">search</i>
		</button>
		<header class="header">
			<a href="{{ g.doc('/content/pages/home.yaml').url.path }}" rel="home" class="header__content">
				<h1 class="header__title"> {{ global.site_title }} </h1>
				<p class="header__subtitle"> {{ global.site_subtitle }} </p>
			</a>
		</header>
		<nav id="main-menu" class="main-menu js-modal" role="menubar" data-modal="main-menu" aria-hidden="true">
			<ul class="main-menu__items" role="menubar">
				{% for page in g.docs('pages') %}
				<li class="main-menu__item" role="menuitem">
					<a href="{{ page.url.path }}" class="main-menu__link">
						<i class="main-menu__icon material-icons">{{ page.icon }}</i>
						{{ page.title }}
					</a>
				</li>
				{% endfor %}
			</ul>
		</nav>
		{% if self.pre_content() %}
		<aside class="pre-content">
	    <div class="pre-content__content">
				{% block pre_content %}{% endblock %}
			</div>
		</aside>
		{% endif %}
		{% if self.main_content() %}
		<main class="main-content" role="main">
			{% block main_content %}
				{% if doc.html %}
				{{ doc.html | safe }}
				{% else %}
				{{ g.doc('/content/pages/404.yaml').html | safe }}
				{% endif %}
			{% endblock %}
		</main>
		{% endif %}
		<nav id="search" class="search js-modal" role="navigation" data-modal="search" aria-hidden="true">
			<header class="search__header form">
				<h2 class="search__title"> {{ global.search_title }} </h2>
				<input type="search" placeholder="Search pages and posts" class="search__input form__input js-filter" data-filter="search">
			</header>
			<div class="search__list">
				{% for collection in g.collections(['pages', 'posts']) %}
					{% for doc in collection %}
					<p class="search__item js-filter-item" data-filter="search">
						<a href="{{ doc.url.path }}" class="search__link">{{ doc.title }}</a>
					</p>
					{% endfor %}
				{% endfor %}
			</div>
		</nav>
		<footer class="footer">
			<div class="footer__content">
				{{ global.site_footer | markdown | safe }}
			</div>
		</footer>
	{% endblock %}
		<script async src="{{ g.static('/static/js/min.js').url.path }}"></script>
		<div class="js-google-analytics" data-tracking-id="{{ global.ga_tracking_id }}"></div>
	</body>
</html>
