{% if doc.collection.title == 'page' %}
	{% set page_class = 'page--' + doc.slug %}
{% else %}
	{% set page_class = 'page--' + doc.collection.title %}
{% endif %}
<!DOCTYPE html>
<html lang="{{ doc.locale | replace('_', '-') }}" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<title> {{ doc.title }} | Liam Newmarch </title>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Material+Icons|Roboto:100,400">
		<link rel="stylesheet" href="{{ g.static('/static/css/min.css').url.path }}">
		<link rel="canonical" href="https://liamnewmarch.co.uk{{ doc.url.path }}" />
	</head>
	<body class="page {{ page_class }}">
		<div class="hamburger">
			<div class="hamburger__line"></div>
			<div class="hamburger__line"></div>
			<div class="hamburger__line"></div>
		</div>
		<header class="header">
			<a href="/" rel="home" class="header__content">
				<h1 class="header__title"> Liam Newmarch </h1>
				<p class="header__subtitle"> Web developer </p>
			</a>
		</header>
		{% if self.pre_content() %}
		<aside class="pre-content">
	    <div class="pre-content__content">
				{% block pre_content %}{% endblock %}
			</div>
		</aside>
		{% endif %}
		<nav class="main-menu">
			<ul class="main-menu__items">
				<li class="main-menu__item">
					<a href="{{ g.doc('/content/pages/index.yaml').url.path }}" class="main-menu__link">Home</a>
				</li>
				<li class="main-menu__item">
					<a href="{{ g.doc('/content/pages/about.yaml').url.path }}" class="main-menu__link">About</a>
				</li>
				<li class="main-menu__item">
					<a href="{{ g.doc('/content/pages/contact.yaml').url.path }}" class="main-menu__link">Contact</a>
				</li>
			</ul>
		</nav>
		<main class="main-content">
			{% block main_content %}
				{% if doc.html %}
				{{ doc.html | safe }}
				{% else %}
				{{ g.doc('/content/pages/404.yaml').html | safe }}
				{% endif %}
			{% endblock %}
		</main>
		<footer class="footer">
			<div class="footer__content">
				<p> Handcoded with ♡ by Liam Newmarch, 2016. </p>
				<p> Source available under <a href="http://www.gnu.org/copyleft/gpl.html">GPLv3</a> on <a href="https://github.com/liamnewmarch/liamnewmarch.co.uk">GitHub</a>. </p>
			</div>
		</footer>
		<script src="{{ g.static('/static/js/min.js').url.path }}"></script>
		<div class="google-analytics" data-tracking-id="UA-6676765-4"></div>
	</body>
</html>
