html {
  background-color: #fff;
  color: #272822;
  font: 300 16px / 1.8 Roboto, sans-serif;
  letter-spacing: .05em;
  text-rendering: optimizeLegibility;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #272822;
    color: #fff;
  }
}

a {
  color: inherit;
}

.page {
  margin: 0;
}

.page--home {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.home-grid {
  display: grid;
  font-size: 4vmin;
  font-weight: 100;
  grid-template: repeat(7, 1fr) / repeat(4, 1fr);
  margin: auto;
  max-height: 24em;
  max-width: 12em;
  text-align: center;
  text-transform: uppercase;
}

.home-grid span {
  align-items: center;
  display: flex;
  height: 3em;
  justify-content: center;
  width: 3em;
}

.home-grid .word-1 { color: red; }
.home-grid .word-2 { color: green; }
.home-grid .word-3 { color: blue; }

@media (prefers-color-scheme: dark) {
  .home-grid .word-1 { color: cyan; }
  .home-grid .word-2 { color: magenta; }
  .home-grid .word-3 { color: yellow; }
}

.page--article {
  margin: 2em auto;
  max-width: 40em;
  padding: 2em;
}

.page--article pre {
  background-color: rgba(255, 255, 255, .1);
  padding: 2em;
  overflow: auto;
}

.page--article p code {
  background-color: rgba(255, 255, 255, .1);
}

.page--article iframe {
  border: none;
}

.aspect-ratio {
  padding-top: 56.25%;
  position: relative;
}

.aspect-ratio > * {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
}
