html {
  background-color: #223;
  color: #fff;
  font: 300 24px / 1.5 Roboto, sans-serif;
  letter-spacing: .05em;
  text-align: center;
  text-rendering: optimizeLegibility;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;
}

canvas {
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
  z-index: -1;
}

h1 {
  font-size: 1.4em;
  font-weight: inherit;
  margin: 0;
}

p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 50vh;
}

header img {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

header div {
  margin-left: 1rem;
}

nav {
  flex: 1 0 auto;
}

nav ul {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: space-between;
  margin: 0 auto 3rem;
  max-width: 30rem;
}

main {
  margin: 1rem auto;
  max-width: 30rem;
}

footer {
  font-size: .7rem;
  margin: 1rem auto;
  max-width: 30rem;
}

@media (max-width: 768px) {
  html {
    font-size: 20px;
  }

  body {
    min-width: 16rem;
  }

  header {
    height: 66vh;
  }

  nav ul {
    flex-direction: column;
    height: 33vh;
    justify-content: space-around;
  }

  nav li {
    margin: 0;
  }
}
