@charset "utf-8";


// Mixins

@mixin button {
	display: inline-block;
	border: 2px solid;
	padding: 1em;
	border-radius: 2px;
}


// Base styles

* {
	box-sizing: border-box;
}

html, input, textarea {
	font: normal 16px sans-serif;
	text-rendering: optimizeLegibility;
}

body {
	margin: 0;
}

button, .bookmarklet {
	@include button;
}
