{% extends '/views/base.html' %}

{% block main_content %}
<h2> {{ doc.title }} </h2>
<p> My name is Liam Newmarch and I’m a <span class="js-insert-age" data-date-of-birth="1987/12/01">twenty-odd</span> year old web developer. I live in London and work for a company called <a href="https://p.ota.to">Potato</a>, where I build things for clients such as Google.</p>
<h2> Quick history </h2>
<p> I’m originally from Stockton-on-Tees in the North East of England – home of the friction match, the first passenger railway, and the chicken parmo.</p>
<p> In 2007 I moved to study New Media at the University of Leeds, where I would later meet my fiancée. A month before I graduated, I interned at <a href="http://wpa-pinfold.co.uk">WPA Pinfold</a> before joining as a PHP developer. In my three years at WPA I rose to become lead developer and oversaw the development of numerous PHP sites.</p>
<p> In 2014 I left Leeds for the bright lights of London. I joined <a href="https://p.ota.to">Potato</a> as a contract front end developer, working on a large scale Django / App Engine application for Google.</p>
{% endblock %}
