{% extends '/views/base.html' %}

{% block main_content %}
  <div class="timeline-layers">
    {% for layer in doc.timeline.layers %}
      <button class="timeline-layers__layer js-timeline-layer-trigger" data-layer="{{ layer.key }}" data-layer-active-class="timeline-layers__layer--active" {% if layer.enabled %}data-layer-default{% endif%}>
        {{ layer.label }}
      </button>
    {% endfor %}
  </div>
  <div class="timeline js-timeline">
    <div class="timeline__year">
      <div class="timeline__label timeline__label--start">
        {{ doc.timeline.start_year }}
      </div>
      <div class="timeline__events">
        <div class="timeline__event">
          {{ doc.timeline.start_label }}
        </div>
      </div>
    </div>
    {% for year in doc.timeline.years %}
      <div class="timeline__year js-timeline-layer-container" data-layers="{% for event in year.events %}{{ event.layer }} {% endfor %}">
        <div class="timeline__label">
          {{ year.year }}
        </div>
        <div class="timeline__events">
          {% for event in year.events %}
            <div class="timeline__event js-timeline-layer-item" data-layer="{{ event.layer }}">
              {{ event.label }}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    <div class="timeline__year">
      <div class="timeline__label timeline__label--now">
        {{ g.date() | date(format='yyyy') }}
      </div>
      <div class="timeline__events">
        <div class="timeline__event">
          {{ doc.timeline.now_label }}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
