{% extends '/views/base.html' %}

{% block main_content %}
<h2> {{ doc.title }} </h2>
<form action="https://docs.google.com/forms/d/1ci1gVQQUWsxmbobqGjQhmixGU0xueLBwNHUpPPeKFc8/formResponse" method="post" class="form form--contact">
  <div class="form__row">
    <label class="form__label"> {{ doc.form_name }} </label>
    <input type="text" name="entry.1902041900" required class="form__input">
  </div>
  <div class="form__row">
    <label class="form__label"> {{ doc.form_email }} </label>
    <input type="email" name="entry.1617169055" required class="form__input">
  </div>
  <div class="form__row">
    <label class="form__label"> {{ doc.form_message }} </label>
    <textarea name="entry.339356626" required class="form__input form__input--multi"></textarea>
  </div>
  <div class="form__row">
    <button type="submit" class="form__button"> {{ doc.form_send }} </button>
  </div>
  <div class="form__sent">
    <p> {{ doc.form_sent}} </p>
  </div>
  <div class="form__error">
    <p> {{ doc.form_error }} </p>
  </div>
</form>
{% endblock %}
