{% extends '/views/base.html' %}

{% block main_content %}
<h2> {{ doc.title }} </h2>
<p> If you want to get in touch, it’s probably best to <a href="https://twitter.com/liamnewmarch">send me a tweet</a>. If you have any questions about one of my projects, most are hosted on <a href="https://github.com/liamnewmarch">GitHub</a> – tickets and pull requests are most welcome. I’m also available on <a href="https://plus.google.com/liamnewmarch">Google+</a> if you want to chat on hangouts.</p>
<p> Due to overwhelming volume, I don’t respond to unsolicited recruitment agency emails; please don’t contact me.</p>
{% endblock %}
