{% extends '/views/base.html' %}

{% block pre_content %}
  <div class="panel">
    <i class="panel__icon material-icons">web</i>
    <p class="panel__title"> Front-end </p>
  </div>
  <div class="panel">
    <i class="panel__icon material-icons">code</i>
    <p class="panel__title"> ES2016+ </p>
  </div>
  <div class="panel">
    <i class="panel__icon material-icons">place</i>
    <p class="panel__title"> London based </p>
  </div>
{% endblock %}

{% block main_content %}
  <div class="cards">
    {% for card in g.collection('labs') %}
    <div class="card">
      <a href="{{ card.url.path }}" class="card__inner">
        <h2 class="card__title"> {{ card.title }} </h2>
        <i class="card__icon material-icons"> {{ card.icon }} </i>
        <p class="card__body">
          {{ card.description }}
        </p>
      </a>
    </div>
    {% endfor %}
  </div>
{% endblock %}
