{% extends '/views/base.html' %}

{% block pre_content %}
  {% for panel in doc.panels %}
  <div class="panel">
    <i class="panel__icon material-icons">{{ panel.icon }}</i>
    <p class="panel__title"> {{ panel.label }} </p>
  </div>
  {% endfor %}
{% endblock %}

{% block main_content %}
  <div class="cards">
    {% for key in doc.labs %}
    {% set card = g.doc('/content/labs/' + key + '.yaml')%}
    <div class="card">
      <a href="{{ card.iframe_url }}" class="card__inner">
        <h2 class="card__title"> {{ card.title }} </h2>
        <i class="card__icon material-icons"> {{ card.icon }} </i>
        <p class="card__body">
          {{ card.description }}
        </p>
      </a>
    </div>
    {% endfor %}
    <a href="{{ g.doc('/content/pages/labs.yaml').url.path }}" class="cards__more"> {{ doc.cards_more }} </a>
  </div>
{% endblock %}
