@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(units(-2));
  }

  100% {
    transform: none;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(units(2));
  }

  100% {
    transform: none;
  }
}

@mixin fade-in($delay: 0s, $duration: .3s) {
  animation: fade-in $duration linear $delay 1 normal both;
  will-change: opacity;
}

@mixin fade-out($delay: 0s, $duration: .3s) {
  animation: fade-out $duration linear $delay 1 normal both;
  will-change: opacity;
}

@mixin fade-in-slide-down($delay: 0s, $duration: .3s) {
  animation: fade-in $duration linear $delay 1 normal both,
    slide-down $duration $ease-swift-out $delay 1 normal both;
  will-change: opacity, transform;
}

@mixin fade-in-slide-up($delay: 0s, $duration: .3s) {
  animation: fade-in $duration linear $delay 1 normal both,
    slide-up $duration $ease-swift-out $delay 1 normal both;
  will-change: opacity, transform;
}
