@keyframes animation-fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes animation-fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes animation-slide-down {
  0% {
    transform: translateY(units(-2));
  }

  100% {
    transform: none;
  }
}

@keyframes animation-slide-right {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: none;
  }
}

@keyframes animation-slide-up {
  0% {
    transform: translateY(units(2));
  }

  100% {
    transform: none;
  }
}

@mixin animation-fade-in($delay: 0s, $duration: .3s) {
  animation: animation-fade-in $duration linear $delay 1 normal both;
  will-change: opacity;
}

@mixin animation-fade-out($delay: 0s, $duration: .3s) {
  animation: animation-fade-out $duration linear $delay 1 normal both;
  will-change: opacity;
}

@mixin animation-fade-in-slide-down($delay: 0s, $duration: .3s) {
  animation: animation-fade-in $duration linear $delay 1 normal both,
    animation-slide-down $duration $ease-swift-out $delay 1 normal both;
  will-change: opacity, transform;
}

@mixin animation-fade-in-slide-up($delay: 0s, $duration: .3s) {
  animation: animation-fade-in $duration linear $delay 1 normal both,
    animation-slide-up $duration $ease-swift-out $delay 1 normal both;
  will-change: opacity, transform;
}

@mixin animation-slide-right($delay: 0s, $duration: .3s) {
  animation: animation-slide-right $duration $ease-swift-out $delay 1 normal both;
  will-change: transform;
}
