* {
  box-sizing: border-box;
}

[aria-hidden="true"] {
  display: none !important;
}

[data-focus="mouse"] {
  outline: none;
}

html,
input,
textarea {
  color: $color-text;
  font-family: $font-sans-serif;
  font-size: units(1);
  line-height: 2;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
}

h2 {
  color: $color-tertiary;
  font-weight: normal;
  line-height: units(2);
}

a {
  color: inherit;
  text-decoration: none;
}
