/**
 * Base units
 */
$base-unit: 16px;

@function units($multiplier: 1) {
  @return $multiplier * $base-unit;
}


/**
 * Easing functions
 */
$ease-swift-out: cubic-bezier(.55, 0, .1, 1);


/**
 * Colours
 */

$color-text: map-get($color-grey, '900');
$color-primary: map-get($color-blue-grey, '700');
$color-secondary: map-get($color-blue, '500');
$color-tertiary: map-get($color-pink, '800');


/**
 * Fonts
 */

$font-sans-serif: Helvetica Neue, sans-serif;


/**
 * Button reset
 */
@mixin button-reset {
  appearance: none;
  background: none;
  border: 0;
}


/**
 * Z-indexes
 */
$z-indexes: (
  'page-shield',
  'main-menu',
  'hamburger',
  'search',
);

@mixin z-index($key) {
  z-index: index($z-indexes, $key);
}


/**
 * Media queries
 */
$media-small: units(26);
$media-medium: units(48);
$media-large: units(64);

@mixin media-small {
  @media (min-width: $media-small) {
    @content;
  }
}

@mixin media-medium {
  @media (min-width: $media-medium) {
    @content;
  }
}

@mixin media-large {
  @media (min-width: $media-large) {
    @content;
  }
}
