.form {
  &__row {
    display: flex;
    flex-direction: column;
    margin: units(2) 0;

    @include media-medium {
      flex-direction: row;
    }
  }

  @include media-medium {
    &__label {
      flex: 1 0 33%;
      margin: units(.5) 0;
    }

    &__input {
      flex: 1 0 66%;
      padding: units(.5) units(1);
    }
  }

  &__input {
    border: 1px solid map-get($color-grey, '50');
    border-bottom-color: $color-secondary;
    border: 0;
    border-bottom: 1px solid $color-secondary;
  }

  &__button {
    background-color: map-get($color-blue-grey, '50');
    border: 0;
    color: map-get($color-blue-grey, '500');
    font-size: units(1);
    padding: units(1) units(2);
    margin: 0 0 0 auto;

    &:active,
    &:focus {
      background-color: map-get($color-blue-grey, '100');
    }
  }

  &__error,
  &__sent {
    display: none;
  }

  &--error {
    .form__error {
      display: block;
    }
  }

  &--sent {
    .form__row {
      display: none;
    }

    .form__sent {
      display: block;
    }
  }
}
