.header {
  color: $color-white;
  background: #272822;
  background: linear-gradient(to bottom, map-get($color-grey, '900'), map-get($color-grey, '800'));
  overflow: hidden;

  @include media-medium {
    box-shadow: 0 0 units(.5) rgba(0, 0, 0, .3);
  }

  &__content {
    display: block;
    margin: 0 auto;
    max-width: units(70);
    padding: units(1.5) units(1) units(1) units(3);
    text-align: center;

    @include media-small {
      padding-left: units(3);
    }

    .page--home & {
      @include media-medium {
        margin: 0 auto;
        max-width: units(35);
        padding: units(16) units(2) units(7);
        text-shadow: 0 0 units(.5) $color-black;

        &::before {
          background: $color-white url('../img/avatar.jpg') 0 0 / cover no-repeat;
          border: units(.125) solid $color-white;
          border-radius: 100%;
          box-shadow: 0 0 units(.3) units(.1) $color-black;
          content: '';
          display: block;
          float: left;
          height: units(6.5);
          margin-right: units(1);
          width: units(6.5);
        }
      }
    }
  }

  &__title {
    font-size: units(1.5);
    font-weight: 500;
    line-height: 1;
    margin: 0;

    @include media-small {
      font-size: units(2);
    }

    @include media-medium {
      font-size: units(3);
      margin-top: units(1);
    }
  }

  &__subtitle {
    font-size: units(1);
    font-style: italic;
    font-weight: 300;
    margin: 0;

    @include media-small {
      font-size: units(1.2);
    }

    @include media-medium {
      font-size: units(1.5);
    }
  }
}
