.header {
  background-color: map-get($color-grey, '900');
  background-image: linear-gradient(to bottom, map-get($color-grey, '900'), map-get($color-grey, '800'));
  color: $color-white;
  display: flex;
  overflow: hidden;

  @include media-medium {
    box-shadow: 0 0 units(.5) rgba(0, 0, 0, .3);
  }

  &__content {
    margin: 0 auto;
    max-width: units(70);
    padding: units(1.5) 0 units(1);
    text-align: center;

    @include media-medium {
      flex-basis: 100%;
      margin: 0 auto;
      max-width: units(32);
      text-align: left;
      text-shadow: 0 0 units(.5) $color-black;

      .page--home & {
        padding-bottom: units(7);
        padding-top: units(16);
      }
    }

    &::before {
      background: $color-white url('../img/avatar.jpg') 0 0 / cover no-repeat;
      border: units(.125) solid $color-white;
      border-radius: 100%;
      box-shadow: 0 0 units(.3) units(.1) $color-black;
      content: '';
      display: block;
      margin: 0 auto units(1);
      height: units(3);
      width: units(3);

      @include media-small {
        height: units(5);
        width: units(5);
      }

      @include media-medium {
        float: left;
        margin-right: units(1);
        height: units(6.5);
        width: units(6.5);
      }
    }
  }

  &__title {
    font-size: units(1.5);
    font-weight: 500;
    line-height: 1;
    margin: 0;

    @include media-small {
      font-size: units(2);
    }

    @include media-medium {
      font-size: units(3);
      margin-top: units(.5);
    }
  }

  &__subtitle {
    font-size: units(1);
    font-style: italic;
    font-weight: 300;
    margin: 0;

    @include media-small {
      font-size: units(1.2);
    }

    @include media-medium {
      font-size: units(1.5);
    }
  }
}
