.labs {
  background: map-get($color-grey, '900');
  color: $color-white;
  display: flex;
  flex-flow: column;
  height: 100vh;
  overflow: hidden;

  &__back {
    padding: units(1) units(2);
  }

  &__icon {
    vertical-align: units(-.4);
  }

  &__iframe {
    background: $color-white;
    border: 0;
    flex: 1 0 100%;
  }
}
