.main-content {
  display: block;
  flex-grow: 1;
  max-width: units(50);
  margin: 0 auto;
  padding: 0 units(2) units(2);

  p a,
  li a {
    color: $color-secondary;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    padding-left: 0;

    @include media-small {
      padding-left: units(1.8);
    }

    li::before {
      color: $color-tertiary;
      content: '▪';
      display: inline-block;
      margin-left: units(-1.2);
      width: units(1.2);
    }
  }

  time {
    color: map-get($color-grey, '500');
    font-style: italic;
  }
}
