.main-menu {
  @include z-index('main-menu');
  background-color: map-get($color-grey, '900');
  bottom: 0;
  box-shadow: units(.125) units(.125) units(.32) rgba(0, 0, 0, .1);
  color: map-get($color-blue-grey, '50');
  left: 0;
  max-width: units(20);
  min-width: units(16);
  position: fixed;
  right: 20%;
  top: 0;
  transition: transform .3s $ease-swift-out;
  will-change: transform;

  &[aria-hidden="true"] {
    transform: translateX(-110%);
  }

  &__items {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: units(5) units(1) units(2);
  }

  &__link {
    border-radius: units(.1);
    display: block;
    padding: units(.5) units(1);
    transition: transform .1s $ease-swift-out;
    will-change: transform;
  }

  &__icon {
    margin-right: units(1);
    vertical-align: units(-.4);
  }
}
