.page {
  min-width: units(20);

  &::after {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    content: '';
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
  }

  &--menu-open {
    overflow: hidden;

    &::after {
      @include fade-in;
      display: block;
    }
  }
}
