.post {
  &__title {
    margin: units(1) 0;

    @include media-medium {
      font-size: units(2);
      line-height: units(3);
      margin-top: units(2);
    }
  }

  &__content {
    figure {
      margin-left: 0;
      margin-right: 0;
    }

    pre {
      color: $color-white;
      background: $color-primary;
      padding: units(1);
      max-width: 100%;
      overflow: auto;
    }

    p code {
      display: inline-block;
      background: map-get($color-blue-grey, '50');
      padding: 0 units(.5);
    }
  }
}
