.post {
  &__title {
    margin: units(1) 0 0;

    @include media-medium {
      font-size: units(2);
    }
  }

  &__date {
    color: map-get($color-grey, '500');
    font-style: italic;
  }

  figure {
    margin-left: 0;
    margin-right: 0;
  }

  pre {
    color: $color-white;
    background: $color-primary;
    padding: units(1);
    max-width: 100%;
    overflow: auto;
  }

  p code {
    display: inline-block;
    background: map-get($color-blue-grey, '50');
    padding: 0 units(.5);
  }

  ul {
    list-style: none;
    padding-left: units(1.8);

    li::before {
      color: map-get($color-pink, '800');
      content: '▪';
      display: inline-block;
      margin-left: units(-1.2);
      width: units(1.2);
    }
  }
}
