.pre-content {
  color: map-get($color-blue-grey, '500');
  background: map-get($color-blue-grey, '50');
  overflow: hidden;

  &__content {
    max-width: units(50);
    margin: 0 auto;
    padding: 0 units(2);

    @include media-medium() {
      display: flex;
    }
  }
}

.panel {
  flex: 1 0 33%;
  margin: units(1) 0;

  @include media-medium() {
    margin-right: units(2) units(2) units(2) 0;
    text-align: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &:nth-child(1) {
    @include fade-in-slide-up(0.5s);
  }

  &:nth-child(2) {
    @include fade-in-slide-up(1.0s);
  }

  &:nth-child(3) {
    @include fade-in-slide-up(1.5s);
  }

  &__icon {
    display: block;
    float: left;
    margin: units(.25) units(1) 0 0;

    @include media-medium() {
      float: none;
      font-size: units(4);
      margin: 0;
    }
  }

  &__heading {
    margin: 0;

    @include media-medium() {
      font-size: units(1.25);
    }
  }
}
