.search {
  @include animation-fade-in-slide-down;
  @include z-index('search');
  background-color: $color-white;
  bottom: 0;
  box-shadow: 0 0 units(.5) rgba(0, 0, 0, .3);
  display: none;
  flex-flow: column nowrap;
  left: 0;
  margin: auto;
  max-height: 420px;
  max-width: 520px;
  padding: units(2);
  position: fixed;
  right: 0;
  top: 0;

  &.is-active {
    display: flex;
  }

  &__header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
  }

  &__close {
    float: right;
  }

  &__title {
    margin-top: 0;
  }

  &__input {
    flex: 0 0 auto;
  }

  &__list {
    flex: 1 1 auto;
    overflow: auto;
  }

  &__item.is-hidden {
    display: none;
  }
}
