.search {
  @include animation-fade-in-slide-down;
  @include z-index('search');
  background-color: $color-white;
  bottom: 0;
  box-shadow: 0 0 units(.5) rgba(0, 0, 0, .3);
  display: flex;
  flex-flow: column nowrap;
  left: 0;
  margin: auto;
  max-height: 420px;
  max-width: 520px;
  padding: units(2);
  position: fixed;
  right: 0;
  top: 0;

  &__header {
    display: flex;
    flex: 0 0 auto;
    flex-flow: column nowrap;
  }

  &__close {
    float: right;
  }

  &__title {
    margin-top: 0;
  }

  &__input {
    flex: 0 0 auto;
    padding-right: units(.5);
  }

  &__list {
    flex: 1 1 auto;
    overflow: auto;
  }

  &__link {
    color: $color-secondary;
    display: block;
  }

  &__item.is-hidden {
    display: none;
  }

  &__button {
    @include button-reset;
    @include z-index('search');
    color: $color-white;
    cursor: pointer;
    height: units(3.5);
    margin-top: units(.25);
    padding: units(1);
    position: absolute;
    right: units(1);
    top: units(1);
    width: units(3.5);

    .page--disabled & {
      @include animation-fade-out;
    }

    .material-icons {
      font-size: units(2);
      line-height: units(1.5);
      margin-left: units(-.25);
    }
  }
}
