.timeline {
  display: flex;
  flex-flow: column nowrap;
  margin-top: units(2);

  &__year {
    display: flex;
    flex-flow: row nowrap;
  }

  &__label {
    color: map-get($color-pink, '800');
    font-size: units(2);
    flex: 0 0 33%;
    padding: 0 units(2) 0 0;
    position: relative;
    text-align: right;
    transition: transform .2s $ease-swift-out;

    &::before {
      content: '';
      border-right: 1px solid map-get($color-blue-grey, '50');;
      height: 100%;
      position: absolute;
      right: 0;
    }

    &::after {
      background: map-get($color-blue, '500');
      border-radius: 50%;
      content: '';
      height: units(.5);
      position: absolute;
      right: units(-.25);
      top: units(1.75);
      transition: transform .2s $ease-swift-out;
      width: units(.5);
    }
  }

  &__label--start,
  &__label--now {
    &::after {
      background: map-get($color-pink, '800');
      height: units(1);
      right: units(-.5);
      top: units(1.5);
      width: units(1);
    }
  }

  &__label--start::before {
    bottom: 0;
    height: 66%;
  }

  &__label--now::before {
    height: 33%;
    top: 0;
  }

  &__events {
    display: flex;
    flex-flow: column nowrap;
    padding-top: units(2);
    position: relative;
    transition: transform .2s $ease-swift-out;
  }

  &__event {
    background: map-get($color-blue-grey, '50');
    margin: 0 0 units(1) units(2);
    padding: units(.5) units(1);
    position: relative;

    &:first-child::before {
      border-bottom: units(.5) solid transparent;
      border-right: units(.5) solid map-get($color-blue-grey, '50');
      content: '';
      display: block;
      left: units(-.5);
      position: absolute;
      top: 0;
    }
  }

  @include media-small {
    &__year:hover &__label::after {
      transform: scale(2);
    }

    &__year:hover &__events {
      transform: translateX(units(.5));
    }
  }
}

.timeline-layers {
  list-style: none;
  margin: units(1) 0 0;
  padding: 0;

  &__layer {
    appearance: none;
    background: map-get($color-blue-grey, '50');
    border: none;
    border-radius: units(.2);
    display: inline-block;
    font: inherit;
    margin: units(.5) units(.5);
    padding: 0 units(.5);
  }

  &__layer--active {
    background: $color-secondary;
    color: $color-white;

    &::after {
      content: '⨉';
    }
  }
}
