<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1">
    <meta name="description" content="Software engineer for the web working at Potato London.">
    <title>{% if title %}{{ title }} |{% endif %} Liam Newmarch</title>
    {% include "components/fonts.html" %}
    <link rel="stylesheet" href="/css/main.css">
    <link rel="icon" href="/img/icon-512.png" sizes="512x512" type="image/png">
    {% if original and original.url %}
      <link rel="canonical" href="{{ original.url }}">
    {% endif %}
    <link rel="author" href="/humans.txt">
    {% block head %}{% endblock head %}
  </head>
  <body>
    <nav class="nav">
      {% block nav %}{% endblock nav %}
      <button type="button" hidden class="nav-link toggle-theme icon-before" title="Toggle theme" aria-label="Toggle theme"></button>
    </nav>
    {% block content %}{% endblock content %}
    <script defer src="/js/app.js"></script>
  </body>
</html>
