<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta name="theme-color" content="#212121">
    <meta name="description" content="Front-end web developer living in London, working at Potato.">
    <title>{% if title %} {{ title }} |{% endif %} Liam Newmarch </title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" href="/static/img/ln-icon-32.png">
    <link rel="canonical" href="https://liamnewmarch.co.uk/">
  </head>
  <body>
    {% block content %}{% endblock content %}
    <script async src="/static/js/app.js"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-6676765-4"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-6676765-4');
    </script>
  </body>
</html>
