{% extends 'base.njk' %}

{% block content %}
  <header>
    <img src="/img/logo.svg" height="96" width="96" alt="" aria-hidden="true">
    <div>
      {{ content | safe }}
    </div>
  </header>
  <canvas></canvas>
  {% if links %}
    <nav role="mainmenu">
      <ul>
        {% for link in links %}
          <li>
            <a href="{{ link.url }}"> {{ link.title }} </a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  {% endif %}
  <footer>
    <p> Source available under <a href="http://www.gnu.org/copyleft/gpl.html">GPLv3</a> on <a href="https://github.com/liamnewmarch/liamnewmarch.co.uk">GitHub</a>.</p>
  </footer>
{% endblock content%}
