{% extends 'base.njk' %}

{% block content %}
  <div class="container">
    <nav class="nav">
      <a class="nav-link icon-before" data-icon="arrow_back" href="/"></p>
    </nav>
    <article class="article">
      <header class="article-meta">
        <h1 class="article-title">{{ title }}</h1>
        <p class="article-date">
          {% if original %}
            Originally posted on <a href="{{ original.url }}">
              {{ original.site }}
            </a> on
          {% else %}
            Posted on
          {% endif %}
          <time datetime="{{ published | date('iso') }}">
            {{ published | date('long') }}
          </time>
        </p>
      </header>
      <div class="article-content">
        {{ content | safe }}
      </div>
    </article>
  </div>
{% endblock content%}
