{% extends '/views/base.html' %}

{% block main_content %}
<article class="post">
	<header class="post__header">
		<h2 class="post__title"> {{ doc.title }} </h2>
		<time class="post__date" datetime="{{ doc.published }}">
			{{ g.date(doc.published, from='%Y-%m-%d') | date(format='full') }}
		</time>
	</header>
	<div class="post__content">
		{{ doc.html | safe }}
	</div>
	<div class="post__comments js-disqus-comments" data-shortname="{{ global.disqus_shortname }}"></div>
</article>
{% endblock %}
