{% set css_class = ['button-link'] %}

{% if button.primary %}
  {% set _ = css_class.push('button-link-primary') %}
{% endif %}

{% if button.icon %}
  {% if button.icon_before %}
    {% set _ = css_class.push('icon-before') %}
  {% else %}
    {% set _ = css_class.push('icon-after') %}
  {% endif %}
{% endif %}

<a
  class="{{ css_class | join(' ') }}"
  href="{{ button.url }}"
  {% if button.icon %}data-icon="{{ button.icon }}"{% endif%}
>
  {{ button.label }}
</a>
