{% if not cards and section.cards %}
  {% set cards = section.cards %}
{% endif %}

<section class="cards" {% if section.anchor %}id="{{ section.anchor }}"{% endif %}>
  <div class="container">
    <h2 class="cards-title">{{ section.title }}</h2>
    {% if cards %}
      <ul class="cards-list">
        {% for card in cards %}
          <li class="cards-list-item">
            <div class="card">
              <h3 class="card-title">{{ card.title }}</h3>
              <p>{{ card.description }}</p>
              {% if card.buttons %}
                <div class="card-links">
                  {% for button in card.buttons %}
                    {% include '../components/button.njk' %}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if section.more_label and section.more_url %}
      <div class="cards-more">
        <a class="button-link" href="{{ section.more_url }}">{{ section.more_label }}</a>
      </div>
    {% endif %}
  </div>
</section>
