<header class="hero" {% if section.anchor %}id="{{ section.anchor }}"{% endif %}>
  <div class="container">
    <h1 class="hero-title">{{ section.title }}</h1>
    <p class="hero-intro">{{ section.description }}</p>
  </div>
</header>
