<section class="links" {% if section.anchor %}id="{{ section.anchor }}"{% endif %}>
  <div class="container">
    <h2>{{ section.title }}</h2>
    <ul class="links-list">
      {% for link in section.links %}
        <li class="links-list-item">
          <a class="link" href="{{ link.url }}">
            {{ link.label }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>
