{% set cards = [] %}

{% for post in global.collections.blog | keysort('-date') %}
  {% set _ = cards.push({
    title: post.title,
    description: post.description,
    buttons: [{
      label: 'View article',
      primary: true,
      url: post.url
    }]
  }) %}
{% endfor %}

{% include '../components/cards.njk' %}
