<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<title> {{ page.title }} Liam Newmarch </title>
		<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/min.css">
	</head>
	<body>
		<header>
			<h1><a href="/"> Liam Newmarch </a></h1>
		</header>
		<main>
			{{ content }}
		</main>
		<footer>
			<p> Liam Newmarch 2014. <a href="https://github.com/liamnewmarch/liamnewmarch.github.io">Source available under GPLv2 on GitHub</a></p>
		</footer>
		<script href="{{ site.baseurl }}/assets/js/min.js"></script>
	</body>
</html>
