<!DOCTYPE html>
<html lang="en-gb" dir="ltr">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
		<title> {{ page.title }} | Liam Newmarch </title>
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,400|Lobster:400">
		<link rel="stylesheet" href="/assets/css/min.css">
	</head>
	<body>
		<header>
			<a href="/" class="centre" rel="home">
				<h1> Liam Newmarch </h1>
				<p> Developer living in London </p>
			</a>
		</header>
		<nav>
			<ul class="centre">
				<li><a href="/">Home</a></li>
				<li><a href="/about/">About</a></li>
				<li><a href="/contact/">Contact</a></li>
			</ul>
		</nav>
		<main class="container">
			{{ content }}
		</main>
		<footer>
			<p> Liam Newmarch 2014. Source available under <a href="http://www.gnu.org/copyleft/gpl.html">GPLv3</a> on <a href="https://github.com/liamnewmarch/liamnewmarch.github.io">GitHub</a></p>
		</footer>
		<script src="/assets/js/min.js"></script>
	</body>
</html>
